<br>
<img src="https://sites.google.com/a/chesterqualls.com/chester-qualls-is-it/ChesterQualls%20Logo%28small%29.png?revision=2">
<br>
***
# A Mind - Enroll Data

> My goal is to see if I can create easily understood and reusable code to mungle data.

> This notebook deals with the Enroll data and follows somewhat the path seen in the R script done by JW. This notebook takes a slightly different approach than that taken by JW.
> * This notebook only deals with the Enrollment Data.
* It also doesn't strip out as much detail as JW did.  This keeps more information so that we have more options later.  
* Getting information into the form that JW was shooting for is to be shaped later specifically for the analysis or test to be done.  

### * We begin with the Enroll File

In [2]:
import pandas as pd
import numpy as np
import os

#This next line supresses warning message, which may be nice before exporting to send
pd.options.mode.chained_assignment = None
#pd.set_option('chained_assignment','warn')

os.chdir("c:/Users/Chester Qualls/Desktop/Customers/EDU_Example")

print (os.getcwd())

c:\Users\Chester Qualls\Desktop\Customers\EDU_Example

In [4]:
#Import and combine enroll files
df_enroll_cohort = pd.read_csv('CRI Student Data/A Mind_Cohort 1_Enrollment.csv')

df_enroll_comp = pd.read_csv('CRI Student Data/A Mind_Comp 1_Enrollment.csv')

#frames = (df_enroll_cohort, df_enroll_comp)

df_enroll_all = pd.concat([df_enroll_cohort,df_enroll_comp]) # or df_enroll_all = pd.concat(frames)

df_enroll_all.columns = df_enroll_all.columns.str.lower()

#The following schools dropped out of the study
df_enroll_all = df_enroll_all.loc[df_enroll_all['schoolcode'] != 2876]
df_enroll_all = df_enroll_all.loc[df_enroll_all['schoolcode'] != 3648]
df_enroll_all = df_enroll_all.loc[df_enroll_all['schoolcode'] != 2134]
df_enroll_all = df_enroll_all.loc[df_enroll_all['schoolcode'] != 5324]

#Example for changing code because ix is deprecated
#df_grades_ia = df_grades_all.loc[df_grades_all['is_ia'] == 1]

#Only need the following columns from the Enroll data
df_enroll_all = df_enroll_all[['researchid','districtcode','schoolcode', 'schoolname','ayd_ia_c1_comp','ayd__ia_cohort_1',
                               'schoolyear', 'gradelevel','gender','disabilityflag','isstudentimmigrant','primarylanguage', 
                               'federalethracerollupcode','federalethracerollupname','expectedgradyear','cumulativegpa',
                               'cumulativecreditsattempted','cumulativecreditsearned','numdayspresent']]

#Change some of the column names for clarity
df_enroll_all = df_enroll_all.rename(columns={'disabilityflag': 'is_sped', 'isstudentimmigrant': 'is_immigrant', 
                                              'primarylanguage':'is_ell','ayd_ia_c1_comp':'comparison',
                                              'ayd__ia_cohort_1':'cohort'})

#print df_enroll_all.info
print ("Finished")

C:\Users\Chester Qualls\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (18,36,37,56) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Chester Qualls\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (18,36,37,39,40,56) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Finished

## Change the content of cells (Enroll)

> In this section I will change a few columns from a character to a binary boolean.  This is apparently more helpful in analyzing those columns.

In [5]:
df_enroll_all['is_sped'] = df_enroll_all['is_sped'].map({'Y': 1, 'N': 0})
df_enroll_all['gender'] = df_enroll_all['gender'].map({'M': 1, 'F': 0})
df_enroll_all['is_immigrant'] = df_enroll_all['is_immigrant'].map({'Y': 1, 'N': 0})

#If Map deprecated maybe could use something like this
#w.female.replace(to_replace=dict(female=1, male=0), inplace=True)


df_enroll_all['cohort'] = np.where(df_enroll_all['cohort']=='y',1,0)
df_enroll_all['comparison'] = np.where(df_enroll_all['comparison']=='y',1,0)
df_enroll_all['is_ell'] = np.where(df_enroll_all['is_ell']=='English',0,1)
#df_enroll_all['gradelevel'] = np.where(df_enroll_temp['gradelevel']=='9','09',df_enroll_temp['gradelevel'])
#The above code is commented out because it didn't work.  I don't believe there was an error, but since it's a numeric
#field it still ended up as 9.  Don't know if we would need to convert to character field??

#print df_enroll_all.info
print ("Finished")

Finished

## Eliminate Duplicates (Enroll)
> * Time to reduce the number of rows.
* Determine if we want to keep past years in this table
* Also remove any records that represent attendance of less than 90 days

In [6]:
# This groups the data by the named fields and then drops the duplicates keeping the last record
# Keeping only the last may not be the best solution, may want to avg or sum a column first. Dropped 387 rows.

df_enroll_all = df_enroll_all.drop_duplicates(['researchid', 'schoolcode', 'schoolyear', 'gradelevel'], keep ='last')

# Remove rows with less than 90 days of attendance. Dropped 14682 rows.
df_enroll_all = df_enroll_all.loc[(df_enroll_all['numdayspresent'] > 90)]

print ("Finished")

Finished

## Add new rows, and fill them (Enroll)
> This section will determine if a school is AYD or IA.

In [7]:
df_ayd_schools = pd.DataFrame({'schoolcode':[3201, 3109, 4113, 5286, 2706, 2264],'is_ayd':[1,1,1,1,1,1]}, 
                              columns=['schoolcode','is_ayd'])
df_ia_schools = pd.DataFrame({'schoolcode':[2553, 5171, 2876, 3314, 2580, 3576, 4515, 4196, 4254, 3468, 3141, 
                              3648, 2623, 2478, 2343, 2706, 2134, 3311], 'is_ia':[1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]}, 
                             columns=['schoolcode', 'is_ia'])

df_enroll_all = pd.merge(df_enroll_all, df_ayd_schools, how='left', on='schoolcode')
df_enroll_all = pd.merge(df_enroll_all, df_ia_schools, how='left', on='schoolcode')

df_enroll_all['is_ayd'] = np.where(df_enroll_all['is_ayd'] == 1,1,0)
df_enroll_all['is_ia'] = np.where(df_enroll_all['is_ia'] == 1,1,0)

print (df_enroll_all.info)

<bound method DataFrame.info of        researchid  districtcode  schoolcode              schoolname  \
0          521222         37501        2553      Salame High School
1          425041         37501        2553      Salame High School
2          522530         37501        2553      Salame High School
3          591302         37501        2553      Salame High School
4          831690         37501        2553      Salame High School
5         1091694         37501        2553      Salame High School
6         1284910         37501        2553      Salame High School
7         1157271         37501        2553      Salame High School
8         1091258         37501        2553      Salame High School
9           42000         37501        2553      Salame High School
10         652883         37501        2553      Salame High School
11         930356         37501        2553      Salame High School
12         806566         37501        2553      Salame High School
13         489565         37501        2553      Salame High School
14         690881         37501        2553      Salame High School
15         732220         37501        2553      Salame High School
16         962256         37501        2553      Salame High School
17         856232         37501        2553      Salame High School
18         775737         37501        2553      Salame High School
19         397814         37501        2553      Salame High School
20        1207928         37501        2553      Salame High School
21         522877         37501        2553      Salame High School
22         277693         37501        2553      Salame High School
23         173272         37501        2553      Salame High School
24        1213459         37501        2553      Salame High School
25         979230         37501        2553      Salame High School
26        1225328         37501        2553      Salame High School
27          43364         37501        2553      Salame High School
28         125095         37501        2553      Salame High School
29         960054         37501        2553      Salame High School
...           ...           ...         ...                     ...
71869      728284         13146        3909  Hamilton Middle School
71870     1219160         13146        3909  Hamilton Middle School
71871      373900         13146        3909  Hamilton Middle School
71872      256026         13146        3909  Hamilton Middle School
71873      934063         13146        3909  Hamilton Middle School
71874      956455         13146        3909  Hamilton Middle School
71875      804216         13146        3909  Hamilton Middle School
71876     1269471         13146        3909  Hamilton Middle School
71877      396209         13146        3909  Hamilton Middle School
71878     1161786         13146        3909  Hamilton Middle School
71879       25608         13146        3909  Hamilton Middle School
71880      913974         13146        3909  Hamilton Middle School
71881      912530         13146        3909  Hamilton Middle School
71882     1065742         13146        3909  Hamilton Middle School
71883      938608         13146        3909  Hamilton Middle School
71884      899816         13146        3909  Hamilton Middle School
71885     1025332         13146        3909  Hamilton Middle School
71886      939497         13146        3909  Hamilton Middle School
71887     1236519         13146        3909  Hamilton Middle School
71888      360960         13146        3909  Hamilton Middle School
71889      584287         13146        3909  Hamilton Middle School
71890      130535         13146        3909  Hamilton Middle School
71891     1055045         13146        3909  Hamilton Middle School
71892      782107         13146        3909  Hamilton Middle School
71893     1112865         13146        3909  Hamilton Middle School
71894       99483         13146        3909  Hamilton Middle School
71895      468553         13146        3909  Hamilton Middle School
71896      711659         13146        3909  Hamilton Middle School
71897      686086         13146        3909  Hamilton Middle School
71898      938559         13146        3909  Hamilton Middle School

       comparison  cohort  schoolyear gradelevel  gender  is_sped  ...    \
0               0       1        2014          9       1        0  ...
1               0       1        2014         12       1        0  ...
2               0       1        2014         11       0        0  ...
3               0       1        2014         10       0        0  ...
4               0       1        2014         10       1        0  ...
5               0       1        2014         11       0        1  ...
6               0       1        2014         10       1        0  ...
7               0       1        2014          9       1        1  ...
8               0       1        2014         12       0        0  ...
9               0       1        2014         10       0        0  ...
10              0       1        2014         12       0        0  ...
11              0       1        2014         11       0        0  ...
12              0       1        2014         10       0        0  ...
13              0       1        2014         12       0        0  ...
14              0       1        2014         12       1        0  ...
15              0       1        2014         11       1        1  ...
16              0       1        2014         11       0        0  ...
17              0       1        2014         11       0        0  ...
18              0       1        2014          9       0        0  ...
19              0       1        2014         12       1        0  ...
20              0       1        2014         10       1        1  ...
21              0       1        2014         12       0        0  ...
22              0       1        2014         12       0        0  ...
23              0       1        2014         12       1        0  ...
24              0       1        2014          9       1        0  ...
25              0       1        2014         12       0        0  ...
26              0       1        2014         12       1        0  ...
27              0       1        2014         10       1        1  ...
28              0       1        2014         11       1        0  ...
29              0       1        2014         12       0        0  ...
...           ...     ...         ...        ...     ...      ...  ...
71869           1       0        2016          7       1        0  ...
71870           1       0        2016          8       0        0  ...
71871           1       0        2016          8       0        0  ...
71872           1       0        2016          7       0        0  ...
71873           1       0        2016          7       0        0  ...
71874           1       0        2016          6       1        0  ...
71875           1       0        2016          8       1        0  ...
71876           1       0        2016          6       1        0  ...
71877           1       0        2016          7       0        1  ...
71878           1       0        2016          8       0        0  ...
71879           1       0        2016          8       1        0  ...
71880           1       0        2016          8       1        0  ...
71881           1       0        2016          8       1        0  ...
71882           1       0        2016          8       0        0  ...
71883           1       0        2016          6       0        0  ...
71884           1       0        2016          6       0        0  ...
71885           1       0        2016          6       0        1  ...
71886           1       0        2016          6       0        0  ...
71887           1       0        2016          7       0        0  ...
71888           1       0        2016          6       0        0  ...
71889           1       0        2016          6       1        0  ...
71890           1       0        2016          7       0        0  ...
71891           1       0        2016          7       1        0  ...
71892           1       0        2016          6       0        0  ...
71893           1       0        2016          8       1        0  ...
71894           1       0        2016          6       0        0  ...
71895           1       0        2016          6       1        0  ...
71896           1       0        2016          6       0        0  ...
71897           1       0        2016          6       1        1  ...
71898           1       0        2016          7       0        0  ...

       is_ell  federalethracerollupcode        federalethracerollupname  \
0           0                         5                           White
1           0                         5                           White
2           0                         5                           White
3           0                         4  Hispanic/Latino of any race(s)
4           0                         4  Hispanic/Latino of any race(s)
5           0                         5                           White
6           0                         5                           White
7           0                         5                           White
8           0                         5                           White
9           0                         5                           White
10          0                         5                           White
11          0                         5                           White
12          0                         4  Hispanic/Latino of any race(s)
13          0                         7               Two or More Races
14          0                         5                           White
15          0                         5                           White
16          0                         5                           White
17          0                         7               Two or More Races
18          1                         5                           White
19          0                         5                           White
20          0                         5                           White
21          0                         5                           White
22          0                         5                           White
23          0                         5                           White
24          1                         4  Hispanic/Latino of any race(s)
25          0                         5                           White
26          0                         5                           White
27          0                         5                           White
28          0                         7               Two or More Races
29          0                         5                           White
...       ...                       ...                             ...
71869       1                         4  Hispanic/Latino of any race(s)
71870       1                         4  Hispanic/Latino of any race(s)
71871       1                         4  Hispanic/Latino of any race(s)
71872       0                         4  Hispanic/Latino of any race(s)
71873       1                         4  Hispanic/Latino of any race(s)
71874       1                         4  Hispanic/Latino of any race(s)
71875       0                         5                           White
71876       0                         4  Hispanic/Latino of any race(s)
71877       0                         4  Hispanic/Latino of any race(s)
71878       0                         5                           White
71879       1                         4  Hispanic/Latino of any race(s)
71880       0                         4  Hispanic/Latino of any race(s)
71881       0                         5                           White
71882       0                         7               Two or More Races
71883       1                         4  Hispanic/Latino of any race(s)
71884       0                         4  Hispanic/Latino of any race(s)
71885       1                         4  Hispanic/Latino of any race(s)
71886       1                         4  Hispanic/Latino of any race(s)
71887       1                         4  Hispanic/Latino of any race(s)
71888       1                         4  Hispanic/Latino of any race(s)
71889       0                         5                           White
71890       1                         4  Hispanic/Latino of any race(s)
71891       1                         4  Hispanic/Latino of any race(s)
71892       0                         5                           White
71893       0                         4  Hispanic/Latino of any race(s)
71894       1                         4  Hispanic/Latino of any race(s)
71895       1                         4  Hispanic/Latino of any race(s)
71896       1                         4  Hispanic/Latino of any race(s)
71897       0                         5                           White
71898       1                         4  Hispanic/Latino of any race(s)

      expectedgradyear cumulativegpa cumulativecreditsattempted  \
0                 2017             4                          6
1                 2014         3.295                       23.6
2                 2015         2.669                         20
3                 2016         3.029                         12
4                 2016         1.125                         14
5                 2015         1.282                      21.75
6                 2016         3.417                         12
7                 2017         2.245                          6
8                 2014         2.015                         25
9                 2016         3.258                         13
10                2014         1.694                       30.5
11                2015         1.706                       18.5
12                2016          2.13                         17
13                2014         3.071                         24
14                2014         3.013                         24
15                2015         1.629                       20.5
16                2015             4                         18
17                2015         1.819                         20
18                2017         3.975                          6
19                2014         1.958                       26.5
20                2016         2.374                         12
21                2014         3.517                       25.6
22                2014         3.805                      21.45
23                2014          2.78                         25
24                2017           2.8                        6.5
25                2014          2.42                       27.5
26                2014          3.39                         25
27                2016           2.4                         13
28                2015         3.883                         18
29                2014          3.78                         25
...                ...           ...                        ...
71869             2021                                        0
71870             2020                                        0
71871             2020                                        0
71872             2021                                        0
71873             2021                                        0
71874             2022                                        0
71875             2020                                        0
71876             2022                                        0
71877             2021                                        0
71878             2020                                        0
71879             2020                                        0
71880             2020                                        0
71881             2020                                        0
71882             2020                                        0
71883             2022                                        0
71884             2022                                        0
71885             2022                                        0
71886             2022                                        0
71887             2021                                        0
71888             2022                                        0
71889             2022                                        0
71890             2021                                        0
71891             2021                                        0
71892             2023                                        0
71893             2020                                        0
71894             2022                                        0
71895             2022                                        0
71896             2022                                        0
71897             2022                                        0
71898             2021                                        0

      cumulativecreditsearned numdayspresent  is_ayd  is_ia
0                           6            177       0      1
1                        23.1            164       0      1
2                        18.5            177       0      1
3                          12            169       0      1
4                         7.5            164       0      1
5                       14.25            126       0      1
6                          12            181       0      1
7                           6            170       0      1
8                          23            149       0      1
9                          13            169       0      1
10                       21.5            142       0      1
11                       16.5            161       0      1
12                       14.5            152       0      1
13                         24            179       0      1
14                         24            164       0      1
15                         14            160       0      1
16                         18            178       0      1
17                       17.5            164       0      1
18                          6            169       0      1
19                         23            137       0      1
20                         12            153       0      1
21                       25.6            163       0      1
22                      21.45            175       0      1
23                         25            176       0      1
24                        5.5            178       0      1
25                         24            164       0      1
26                         25            180       0      1
27                         13            164       0      1
28                         18            181       0      1
29                         25            175       0      1
...                       ...            ...     ...    ...
71869                       0            164       0      0
71870                       0            169       0      0
71871                       0            173       0      0
71872                       0            171       0      0
71873                       0            174       0      0
71874                       0            169       0      0
71875                       0            168       0      0
71876                       0            159       0      0
71877                       0            168       0      0
71878                       0            173       0      0
71879                       0            170       0      0
71880                       0            155       0      0
71881                       0            169       0      0
71882                       0            173       0      0
71883                       0            158       0      0
71884                       0            170       0      0

In [8]:
#first get a list of the researchid's we have in the enroll table, can't do much if we don't have them
#this will be reused often to limit other files to only available enrollment files

df_researchid_all = df_enroll_all [['researchid']]
df_researchid_all = df_researchid_all.drop_duplicates(['researchid'], keep ='first')

df_researchid_all.to_pickle('pickles/am_researchid_all.pickle')

print ("Finished")

Finished

## Export CSV and create Pickle

> The files created here are to be used by tests or analysis done later.  This could be done in Python or in R.  
> * Analysis to be done is SPSS may require a specific combination of files, or limiting of records that will answer the specific questions being done.

In [9]:
df_enroll_all.to_csv("clean_data/am_enroll_clean.csv")
df_enroll_all.to_pickle('pickles/am_enroll_clean.pickle')


print ("Finished")

Finished